* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  font-size: 25px;
}

section {
  display: flex;
}

input,
button {
  font-size: 21px;
  color: rgb(51, 51, 51);
  padding: 5px;
  border-radius: 10px;
  outline: none;
  text-align: center;
  background-color: rgb(255, 245, 238);
}

input {
  min-height: 50px;
}

input[name="product"] {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.container {
  max-width: 500px;
  padding: 5px 20px;
  margin: 0 auto;
}

.list-section__list {
  padding-top: 10px;
  max-height: 415px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.list-section__list > li:first-child {
  margin: 0 0 10px 0;
}

.list-section__list--item {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid rgb(0, 0, 0);
  margin: 20px 0;
}

.list-section__list--item > span:first-child {
  margin-right: 50px;
}

.form__btn-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#sendForm {
  margin-bottom: 40px;
}

.form__btn-wrapper button {
  padding: 10px;
}

header {
  position: relative;
}

header .status {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status_text {
  font-size: 10px;
}

.status_indicator {
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 2px;
  background-color: rgb(255, 0, 0);
  align-items: center;
}
.status_indicator::after{
  content: 'off';
  font-size: 10px;
  display: block;
  margin-left: 10px;
}

.status_on {
  background-color: rgb(154, 205, 50);
}

.status_on::after {
  content: 'on';
}
