.calendar {
  display: none;
  min-width: 170px;
  position: relative;
}

.calendar .flex .one .date,
.calendar .flex .two .date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    ". . . . . . .";
}
/* .calendar .one .date span:nth-of-type(7) ~ span {
  cursor: pointer;
} */
.calendar .flex .one .wrapper,
.calendar .flex .two .wrapper {
  display: flex;
  justify-content: space-around;
  padding-right: 9px;
}

#close {
  position: absolute;
  right: -20px;
  top: 2px;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border: 1px solid red;
  border-radius: 50%;
  color: red;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 400px;
  position: relative;
}
