* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.orange-color {
  color: #ff7f00;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: Montserrat-Bold;
}

header {
  background-color: #f5f6fb;
  color: #4a4f58;
  margin-bottom: 40px;
}

.head-info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
  padding: 0 20px;
}

/* --------------------------------------------------------Левая половина хедера */
.head-info-left-block div {
  display: inline-block;
}

.head-info-left-block p button {
  margin-left: 40px;
}
.button-arrow-down {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.head-info-left-block__contac {
  margin-left: 90px;
}
.head-info-left-block__contac a:first-child {
  font-weight: 600;
  margin-right: 18px;
  color: #4a4f58;
  text-decoration: none;
}
.head-info-left-block__contac button {
  margin-left: 18px;
}
.pos {
  top: 3px;
  position: relative;
}
/* -------------------------------------------------------Правая половина хедера */
.head-info-right-block {
  display: flex;
  align-items: center;
}

.head-info-right-block__signIn {
  padding: 0 84px;
  border-left: 1px solid #e3e8ee;
}
.head-info-right-block__signIn button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
.head-info-right-block__signIn button::before {
  content: url("/img/header/sign.png");
  position: relative;
  top: 3px;
  left: -9px;
}
.head-info-right-block__social a {
  margin-right: 25px;
}
.head-info-right-block__social a:last-child {
  margin-right: 60px;
}
/* --------------------------------------------------------------------------nav */
nav {
  margin-bottom: 20px;
}
.nav-menu {
  display: flex;
  height: 125px;
}
/* -------------------------------------------------------------------------Лого */
.nav-menu__logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  text-transform: uppercase;
}
.nav-menu__logo p {
  color: #4a4f58;
  font-weight: bold;
  font-size: 28px;
}
.nav-menu__logo_catalog {
  background-color: #4a4f58;
  display: flex;
  justify-content: center;
  padding: 20px 60px;
  padding-right: 109px;
}
.nav-menu__logo_catalog button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 17px;
}
.nav-menu__logo_catalog p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
/* -----------------------------------------------------------------Меню и поиск */
.nav-menu__center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-grow: 1;
  margin: 0 40px;
}
.nav-menu__center-search {
  border: 3px solid #edeff5;
  display: flex;
  align-items: center;
  max-width: 560px;
  background-color: #edeff5;
}
.nav-menu__center-search input,
select {
  padding: 10px 0;
  border: none;
  outline: none;
}
.nav-menu__center-search_select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
}

.nav-menu__center-search input {
  padding-left: 30px;
  padding-right: 100px;
}
.nav-menu__center-search select {
  border-left: 1px solid #edeff5;
  padding: 0 20px;
  margin-right: 15px;
  width: 168px;
}
.nav-menu__center-search button {
  height: 100%;
  width: 65px;
  background-color: #edeff5;
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 3px;
}

.nav-menu__center_menu {
  display: flex;
  background-color: #ff7f00;
}
.nav-menu__center_menu p {
  color: white;
  background-color: #ff7f00;
  text-transform: uppercase;
  padding: 20px 40px 20px 30px;
  font-size: 14px;
  cursor: pointer;
}
.nav-menu__center_menu p:first-child {
  background-color: #ff9b37;
}
/* -----------------------------------------------------------------Время работы */
.nav-menu__work-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  padding-right: 20px;
}
.nav-menu__work-time_days p {
  position: relative;
  font-size: 13px;
  font-weight: 600;
}
.nav-menu__work-time_days p span {
  font-size: 16px;
}
.nav-menu__work-time_days p:first-child::before {
  content: url("/img/header/watch.png");
  position: absolute;
  top: 5px;
  left: -20px;
}

.nav-menu__work-time_basket button {
  position: relative;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 50px;
}
.nav-menu__work-time_basket {
  padding: 20px 0;
}
.nav-menu__work-time_basket button::after {
  content: "0";
  position: absolute;
  background-color: #edeff5;
  width: 17px;
  height: 17px;
  line-height: 18px;
  vertical-align: middle;
  border-radius: 50%;
  right: -20px;
}
.nav-menu__work-time_basket button:first-child::after {
  top: -5px;
}
/* -----------------------------------------------------------------Section 1 */
.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 440px;
  background: url("./img/section1/bg.png");
  color: white;
  margin-bottom: 60px;
}
.section1 p,
.section1 p span {
  font-weight: 300;
  font-size: 20px;
}

.section1__buttons {
  font-size: 15px;
}
.section1 h2 {
  margin-top: 70px;

  text-align: center;
}
.section1__circles-item {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #bebebe;
  cursor: pointer;
  transition: 0.2s ease;
}
.section1__circles-item:hover {
  background-color: #ff7f00;
}
.section1__buttons button {
  padding: 12px 45px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.section1__buttons button:last-child {
  margin-left: 10px;
}
/* -----------------------------------------------------------------Section 2 */
.section2 {
  font-size: 0;
  display: flex;
  margin-bottom: 30px;
}
.section2 div {
  width: 630px;
  min-height: 300px;
  padding: 60px 0 0 60px;
  color: white;
}
.section2__catalog1 {
  background: url("/img/section2/bg1.png");
}
.section2__catalog2 {
  margin-left: 20px;
  background: url("/img/section2/bg2.png");
}
.section2__catalog1,
.section2__catalog2 {
  background-size: cover;
  background-position: center;
}
.section2 p {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 70%;
  font-size: 15px;
}
.section2 a {
  background-color: #ff7f00;
  color: white;
  text-decoration: none;
  padding: 15px 40px 15px 20px;
  border-radius: 6px;
  font-size: 15px;
}
/* -----------------------------------------------------------------Section 3 */
.section3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.section3 button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.section3__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 289px;
  min-height: 167px;
}
.section3__item:nth-child(2) {
  background-image: url("/img/section3/шины.png");
}
.section3__item:nth-child(3) {
  background-image: url("/img/section3/диски.png");
}
.section3__item:nth-child(4) {
  background-image: url("/img/section3/сезон.png");
}
.section3__item:nth-child(5) {
  background-image: url("/img/section3/диаметр.png");
}
.section3 p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat-Bold;
}
/* -----------------------------------------------------------------Section 3 */
.section4 {
  margin-bottom: 50px;
}
.section4__links {
  border-bottom: 2px solid #e3e8ee;
  font-size: 0;
  display: flex;
  margin-bottom: 60px;
}
.section4__links a {
  text-decoration: none;
  font-size: 14px;
  color: #4a4f58;
  transition: 0.2s ease;
  font-family: Montserrat-SemiBold;
}
.section4__links-link {
  transition: 0.2s ease;
}
.section4__links-link:hover {
  background-color: #ff7f00;
}
.section4__links-link:hover a {
  color: white;
}
.section4__links-link {
  transition: 0.2s ease;
  padding: 20px 80px;
}
.section4__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4__items p {
  text-align: center;
}
.section4__items button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}
.section4__items button:first-child {
  margin-right: 15px;
}
.section4__items-card__foto,
.section4__items-card__pay {
  text-align: center;
}
.section4__items-card__foto {
  padding-top: 40px;
}
.section4__items-card__foto p {
  font-family: Montserrat-Bold;
}
.sale {
  color: #ff7f00;
}
.sale span {
  font-family: Montserrat-Bold;
  text-decoration: line-through;
  color: black;
}
